<p class="logos">In collaboration with:</p>

<div class="logos">
  <a href="https://hci.iwr.uni-heidelberg.de/vislearn/">
    <img src="{{ '/assets/imgs/logos/vll.png'  | relative_url }}" alt="Visual Learning Lab (Heidelberg University)"/>
  </a>

  <a href="https://www.csbdresden.de/">
    <img src="{{ '/assets/imgs/logos/csbd.png' | relative_url }}" alt="Centre for Systems Biology Dresden"/>
  </a>

  <a href="https://www.mpi-inf.mpg.de/home/">
    <img src="{{ '/assets/imgs/logos/mpi.png'  | relative_url }}" alt="Max-Planck-Institute for Informatics (Saarbrücken)"/>
  </a>
</div>
